/*
File: index.html
Author: VTG
Copyright: 2024, VTG
Group: Szoft I/1/N
Date: 2024-05-30
Github: https://github.com/valaki2004/
Licenc: GNU GPL
*/
body{
    background-image: -webkit-linear-gradient(bottom,black,white);
    height: 1000px;
}